<% include partials/header %>

<div class="container my-5">
    <h1>Hello, <%= currentUser.username %></h1>
    <% if(!currentUser.therapy) { %>
        <a href="/dashboard/<%= currentUser._id %>/therapy/new" class="btn btn-link">Add Therapy</a>
    <% } else { %>
        <% currentUser.therapy.forEach(function(item){ %>
            <p><%= item.name %></p>
            <p><%= item.address %></p>
            <p><%= item.city %></p>
            <p><%= item.state %></p>
            <p><%= item.zip %></p>
            <a href="/dashboard/<%= currentUser._id %>/therapy/<%= item._id %>/edit" class="btn btn-warning">Edit Therapy Information</a>
        <% }) %>
    <% } %>
    
</div>

<% include partials/footer %>